@charset "UTF-8";
/*Variables*/
/*Fin-Variables*/
/*CSS General*/
* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "Font-Principal";
  src: url(../assets/fuentes/DMSans-Regular.ttf);
}
.body-jof {
  font-family: "Font-Principal";
  src: url(../assets/fuentes/DMSans-Regular.ttf);
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

/*Fin CSS General*/
/*-----------------------------------------------------------------*/
/*PAGINA INICIO*/
/*Menu Superior*/
@media (min-width: 1024px) {
  .nav-item {
    padding: 0px 10px 0px 10px;
  }
  .Texto-Menu {
    font-family: "Font-Principal";
    text-transform: none;
    font-weight: medium;
    text-decoration: none;
    color: #212529;
  }
  .Texto-Menu:hover {
    text-decoration: underline;
  }
  .navbar-brand {
    padding: 0px;
  }
  .navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #212529;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .Texto-Menu {
    font-family: "Font-Principal";
    font-weight: 300;
    text-decoration: none;
    color: #212529;
    text-align: right;
    font-size: 16px;
  }
  .Texto-Menu:hover {
    text-decoration: underline;
  }
  .navbar-brand {
    padding: 0px;
  }
  .nav-item {
    margin-right: 36px;
    margin-bottom: 6px;
  }
  .navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #212529;
  }
}
@media (max-width: 767px) {
  .Texto-Menu {
    font-family: "Font-Principal";
    font-weight: 300;
    text-decoration: none;
    color: #212529;
    text-align: right;
    font-size: 16px;
  }
  .Texto-Menu:hover {
    text-decoration: underline;
  }
  .navbar-brand {
    padding: 0px;
  }
  .nav-item {
    margin-right: 24px;
  }
  .navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #212529;
  }
}
/*Fin Menu Superior*/
/*Menu Inferior*/
@media (min-width: 1024px) {
  .menu-footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #212529;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .Lista-Footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    padding: 0px;
    gap: 4px;
  }
  .Box-Footer {
    padding: 10px;
  }
  .Texto-Footer {
    font-family: "Font-Principal";
    font-size: 16px;
    text-transform: none;
    padding: 12px 20px 12px 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
  }
  .Texto-Footer:hover {
    text-decoration: underline;
  }
  .logotipo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
  }
  .Logo-Footer {
    height: 70px;
    fill: #FFFFFF;
  }
  .Logo-Footer:hover {
    height: 85px;
    fill: #FFFFFF;
    transition: all 0.2s;
  }
  .rrss-footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0px;
  }
  #jof-Behance {
    height: 34.84px;
    width: auto;
  }
  #jof-Linkedin {
    height: 40.81px;
    width: auto;
  }
  .BoxSocial-Behance {
    border: 1px solid #ffffff;
    height: 64px;
    width: 68px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BoxSocial-Behance:hover {
    background-color: #005cff;
    border: none;
    transition: all 0.2s;
  }
  .BoxSocial-Linkedin {
    border: 1px solid #ffffff;
    height: 64px;
    width: 68px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BoxSocial-Linkedin:hover {
    background-color: #0075b4;
    border: none;
    transition: all 0.2s;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #212529;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .Lista-Footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    padding: 0px;
    gap: 10px;
  }
  .Box-Footer {
    padding: 4px;
  }
  .Texto-Footer {
    font-family: "Font-Principal";
    font-size: 16px;
    text-transform: none;
    padding: 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
  }
  .logotipo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
  }
  .Logo-Footer {
    height: 70px;
    fill: #FFFFFF;
  }
  .Logo-Footer:hover {
    height: 90px;
    fill: #FFFFFF;
    transition: all 0.2s;
  }
  .rrss-footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0px;
  }
  #jof-Behance {
    height: 34.84px;
    width: auto;
  }
  #jof-Linkedin {
    height: 40.81px;
    width: auto;
  }
  .BoxSocial-Behance {
    border: 1px solid #ffffff;
    height: 64px;
    width: 68px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BoxSocial-Behance:hover {
    background-color: #005cff;
    border: none;
    transition: all 0.2s;
  }
  .BoxSocial-Linkedin {
    border: 1px solid #ffffff;
    height: 64px;
    width: 68px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BoxSocial-Linkedin:hover {
    background-color: #0075b4;
    border: none;
    transition: all 0.2s;
  }
}
@media (max-width: 767px) {
  .menu-footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #212529;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .Lista-Footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0px;
  }
  .Box-Footer {
    padding-left: 8px;
    padding-right: 8px;
  }
  .Texto-Footer {
    font-family: "Font-Principal";
    font-size: 16px;
    text-transform: none;
    font-weight: 300;
    text-decoration: none;
    color: white;
  }
  .Logo-Footer {
    height: 80px;
    fill: #FFFFFF;
  }
  .enlaces-footer {
    order: 2;
  }
  .logotipo-footer {
    order: 1;
    padding-bottom: 32px;
    grid-column: span 2;
  }
  .rrss-footer {
    order: 3;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0px;
  }
  #jof-Behance {
    height: 26.1px;
    width: auto;
  }
  #jof-Linkedin {
    height: 30.6px;
    width: auto;
  }
  .BoxSocial-Behance {
    border: 1px solid #ffffff;
    height: 48px;
    width: 51px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BoxSocial-Behance:hover {
    background-color: #005cff;
    border: none;
    transition: all 0.2s;
  }
  .BoxSocial-Linkedin {
    border: 1px solid #ffffff;
    height: 48px;
    width: 51px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BoxSocial-Linkedin:hover {
    background-color: #0075b4;
    border: none;
    transition: all 0.2s;
  }
}
/*Fin Menu Inferior*/
/*Seccion Main Hero*/
@media (min-width: 1024px) {
  .sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border-bottom: 1px solid #212529;
  }
  .header-mensaje {
    max-width: 1300px;
    margin: auto;
  }
  .mensaje-principal {
    color: #212529;
    border-bottom: #212529;
    font-weight: 300;
    font-size: 40px;
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    border-bottom: 1px solid #212529;
  }
  .mensaje-principal {
    color: #212529;
    border-bottom: #212529;
    font-weight: 300;
    font-size: 36px;
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media (max-width: 767px) {
  .sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    border-bottom: 1px solid black;
  }
  .mensaje-principal {
    font-size: 30px;
    font-weight: 300;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
  }
}
/*Fin Seccion Main Hero*/
/*Seccion Marcas*/
@media (min-width: 1024px) {
  .marcas-seccion {
    max-width: 1300px;
    margin: auto;
  }
  .sec-marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-bottom: 1px solid black;
  }
  .titulo-seccion-home {
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 300;
  }
  #brand-innpacto {
    height: 44px;
  }
  #brand-umaker {
    height: 60px;
    padding-bottom: 8px;
  }
  #brand-teca {
    height: 52px;
  }
  #brand-labotec {
    height: 56px;
    padding-top: 12px;
  }
  #brand-estrucad {
    height: 72px;
  }
  #brand-aoa {
    height: 56px;
  }
  .row-marcas {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
    margin: auto;
  }
  .col {
    align-items: center;
    margin-top: 8px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sec-marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-bottom: 1px solid black;
  }
  .titulo-seccion-home {
    font-size: 24px;
    margin-bottom: 48px;
    text-align: center;
    font-weight: 300;
  }
  #brand-innpacto {
    height: 44px;
  }
  #brand-umaker {
    height: 60px;
    padding-bottom: 8px;
  }
  #brand-teca {
    height: 52px;
  }
  #brand-labotec {
    height: 56px;
    padding-top: 12px;
  }
  #brand-estrucad {
    height: 72px;
  }
  #brand-aoa {
    height: 56px;
  }
  .row-marcas {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin: auto;
  }
  .col {
    align-items: center;
    margin-top: 8px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .sec-marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    border-bottom: 1px solid black;
  }
  .container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .home-marcas-titulo {
    margin-bottom: 36px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .titulo-seccion-home {
    position: relative;
    text-align: center;
  }
  #brand-innpacto {
    height: 44px;
  }
  #brand-umaker {
    height: 60px;
  }
  #brand-labotec {
    height: 56px;
  }
  #brand-aoa {
    height: 56px;
  }
  .row-marcas {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .col {
    padding-bottom: 30px;
  }
  .bra-teca {
    display: none;
  }
  .bra-estrucad {
    display: none;
  }
}
/*Fin Seccion Marcas*/
/*Seccion Trabajos*/
@media (min-width: 1024px) {
  .sec-trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border-bottom: 1px solid black;
  }
  .trabajos-seccion {
    max-width: 1300px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .cajas-trabajos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 36px;
    margin: auto;
    display: grid;
    width: 90%;
  }
  .Miniatura-Caja {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
  }
  .img-caja {
    width: 100%;
    height: auto;
  }
  .titulo-seccion-home {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 48px;
    text-align: center;
  }
  .caja {
    margin-bottom: 12px;
  }
  .subt-sec-trabajos {
    font-size: 16px;
    font-weight: 100;
    margin: 0px;
  }
  .nom-sec-trabajos {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sec-trabajos {
    max-width: 1300px;
    justify-content: space-between;
    margin: auto;
    padding-top: 40px;
    border-bottom: 1px solid black;
    padding-bottom: 80px;
  }
  .cajas-trabajos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 24px;
    margin: 0px 20px 0px 20px;
  }
  .Miniatura-Caja {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
  }
  .img-caja {
    width: 100%;
    height: auto;
  }
  .titulo-seccion-home {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
  .caja {
    margin-bottom: 2px;
  }
  .subt-sec-trabajos {
    font-size: 16px;
    font-weight: 100;
    margin: 0px;
  }
  .nom-sec-trabajos {
    font-size: 18px;
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .sec-trabajos {
    max-width: 900px;
    justify-content: space-between;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 36px;
    border-bottom: 1px solid black;
  }
  .cajas-trabajos {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 24px;
    margin: 0px 20px 0px 20px;
  }
  .home-trabajos-titulo {
    margin-bottom: 32px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .titulo-seccion-home {
    position: relative;
  }
  .Miniatura-Caja {
    position: relative;
    width: 100%;
    margin-bottom: 14px;
  }
  .img-caja {
    width: 100%;
    height: auto;
  }
  .subt-sec-trabajos {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4px;
  }
  .nom-sec-trabajos {
    font-size: 16px;
  }
}
/*Fin Seccion Trabajos*/
/*Seccion Contacto*/
@media (min-width: 1024px) {
  .sec-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    border-bottom: 1px solid black;
  }
  .quieres-contacto {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
  #boton-contacto-home {
    border: none;
    border-radius: 16px;
    border: 1px solid #212529;
    background-color: white;
  }
  #boton-contacto-home:hover {
    border: 1px solid black;
    background-color: #212529;
  }
  #boton-ct {
    margin: 10px 0px 12px 0px;
  }
  #quieres {
    font-size: 32px;
    font-weight: 100;
  }
  #contactame {
    padding: 10px 40px 10px 40px;
    font-size: 32px;
    font-family: "Font-Principal";
    text-transform: none;
    font-weight: medium;
    text-decoration: none;
    color: #212529;
  }
  #contactame:hover {
    color: white;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sec-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    border-bottom: 1px solid black;
  }
  .quieres-contacto {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
  #boton-contacto-home {
    border: none;
    border-radius: 16px;
    border: 1px solid #212529;
    background-color: white;
  }
  #boton-contacto-home:hover {
    border: 1px solid black;
    background-color: #212529;
  }
  #boton-ct {
    margin: 10px 0px 12px 0px;
  }
  #quieres {
    font-size: 32px;
    font-weight: 100;
    margin-left: 60px;
  }
  #contactame {
    padding: 10px 40px 10px 40px;
    font-size: 32px;
    font-family: "Font-Principal";
    text-transform: none;
    font-weight: medium;
    text-decoration: none;
    color: #212529;
  }
  #contactame:hover {
    color: white;
  }
}
@media (max-width: 767px) {
  .sec-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    border-bottom: 1px solid black;
  }
  .quieres-contacto {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 18px;
  }
  #boton-contacto-home {
    border: none;
    border-radius: 16px;
    border: 1px solid #212529;
    background-color: white;
  }
  #boton-contacto-home:hover {
    border: 1px solid black;
    background-color: #212529;
  }
  #boton-ct {
    margin: 10px 0px 12px 0px;
  }
  #quieres {
    text-align: center;
    font-size: 28px;
  }
  #contactame {
    padding: 10px 40px 10px 40px;
    font-size: 28px;
    font-family: "Font-Principal";
    text-transform: none;
    font-weight: medium;
    text-decoration: none;
    color: #212529;
  }
  #contactame:hover {
    color: white;
  }
}
/*Fin Seccion Contacto*/
/*FIN PAGINA INICIO*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*PAGINA SERVICIOS*/
@media (min-width: 1024px) {
  .servicios-grid {
    padding-top: 20px;
    padding-bottom: 80px;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  }
  .lista-descr {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    gap: 80px;
  }
  .descripcion-serv {
    display: flex;
    align-items: center;
  }
  .titulo-serv {
    text-align: justify;
    line-height: 36px;
  }
  .subt-serv {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .item-list-serv {
    font-size: 18px;
    line-height: 36px;
  }
  .servicios-ejemplos {
    padding-top: 20px;
    justify-content: space-between;
    margin: auto;
    max-width: 1300px;
  }
  .ejem-serv-col {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 50px;
    margin: 0px 12px 0px 12px;
  }
  .ejem-box {
    border: 1px solid #212529;
  }
  .s-ejem-img {
    position: relative;
    width: 100%;
  }
  .img-serv {
    width: 100%;
    height: auto;
  }
  .s-ejem-title {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 2px;
    margin-left: 24px;
  }
  .s-ejem-subt {
    font-size: 20px;
    margin-left: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .servicios-grid {
    padding-top: 20px;
    padding-bottom: 40px;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  }
  .lista-descr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 0px 40px 0px 36px;
    gap: 48px;
  }
  .descripcion-serv {
    display: flex;
    align-items: center;
  }
  .titulo-serv {
    text-align: justify;
    line-height: 36px;
    font-size: 20px;
  }
  .subt-serv {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .item-list-serv {
    font-size: 18px;
    line-height: 36px;
  }
  .servicios-ejemplos {
    padding-top: 20px;
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
  }
  .ejem-serv-col {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 24px;
    margin: 0px 8px 0px 8px;
  }
  .ejem-box {
    border: 1px solid #212529;
  }
  .s-ejem-img {
    position: relative;
    width: 100%;
  }
  .img-serv {
    width: 100%;
    height: auto;
  }
  .s-ejem-title {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 2px;
    margin-left: 24px;
  }
  .s-ejem-subt {
    font-size: 16px;
    margin-left: 24px;
  }
}
@media (max-width: 767px) {
  .servicios-grid {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  }
  .lista-descr {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 48px;
    margin: 0px 20px 0px 20px;
  }
  .descripcion-serv {
    display: flex;
    align-items: center;
  }
  .lista-serv {
    margin-left: 28px;
  }
  .titulo-serv {
    text-align: center;
    line-height: 32px;
    font-size: 20px;
  }
  .subt-serv {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .item-list-serv {
    font-size: 17px;
    line-height: 36px;
  }
  .servicios-ejemplos {
    padding-top: 20px;
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
  }
  .ejem-serv-col {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .ejem-box {
    border: 1px solid #212529;
  }
  .s-ejem-img {
    position: relative;
    width: 100%;
  }
  .img-serv {
    width: 100%;
    height: auto;
  }
  .s-ejem-title {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 2px;
    margin-left: 16px;
  }
  .s-ejem-subt {
    font-size: 16px;
    margin-left: 16px;
  }
}
/*FIN PAGINA SERVICIOS*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*PAGINA PORTAFOLIO*/
@media (min-width: 1024px) {
  .portafolio-grid {
    padding-top: 20px;
    padding-bottom: 80px;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  }
  .descripcion-portf {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 120px;
  }
  .titulo-port {
    text-align: center;
    line-height: 36px;
  }
  .trabajos-portf {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px 0px 16px;
    gap: 48px;
  }
  .caja-marca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: 1px solid #212529;
  }
  .caja-marca:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
  }
  .descrip-marca {
    margin-left: 60px;
    margin-right: 80px;
  }
  .serv-titulo {
    font-size: 24px;
  }
  .cliente-titulo {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .descrip-titulo {
    font-size: 18px;
    line-height: 28px;
  }
  .Link-marca {
    text-decoration: none;
    font-size: 19px;
    color: #212529;
    text-decoration-line: underline;
  }
  .Link-marca:hover {
    text-decoration: none;
  }
  .img-marca {
    position: relative;
    width: 650px;
  }
  .marca-port {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .portafolio-grid {
    padding-top: 20px;
    padding-bottom: 80px;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  }
  .descripcion-portf {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 120px;
  }
  .titulo-port {
    text-align: center;
    line-height: 36px;
  }
  .trabajos-portf {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0px 12px 0px 12px;
    gap: 48px;
  }
  .caja-marca {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #212529;
  }
  .descrip-marca {
    margin-left: 30px;
    margin-right: 40px;
  }
  .serv-titulo {
    font-size: 22px;
    margin-top: 16px;
  }
  .cliente-titulo {
    font-size: 26px;
    margin-bottom: 16px;
  }
  .descrip-titulo {
    font-size: 16px;
    line-height: 28px;
  }
  .Link-marca {
    text-decoration: none;
    font-size: 17px;
    color: #212529;
    text-decoration-line: underline;
  }
  .Link-marca:hover {
    text-decoration: none;
  }
  .img-marca {
    position: relative;
    object-fit: scale-down;
  }
  .marca-port {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .portafolio-grid {
    padding-top: 0px;
    padding-bottom: 10px;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
  }
  .descripcion-portf {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
  }
  .titulo-port {
    text-align: center;
    line-height: 32px;
    font-size: 20px;
  }
  .trabajos-portf {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 40px;
  }
  .caja-marca {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px;
    border: 1px solid #212529;
  }
  .caja-marca:hover {
    transform: translate(0px, -20px);
  }
  .descrip-marca {
    order: 2;
    margin-left: 20px;
    margin-right: 20px;
  }
  .serv-titulo {
    font-size: 20px;
  }
  .cliente-titulo {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .descrip-titulo {
    font-size: 16px;
    line-height: 28px;
  }
  .Link-marca {
    text-decoration: none;
    font-size: 16px;
    color: #212529;
    text-decoration-line: underline;
  }
  .Link-marca:hover {
    text-decoration: none;
  }
  .img-marca {
    order: 1;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  .marca-port {
    width: 100%;
    height: auto;
  }
}
/*FIN PAGINA PORTAFOLIO*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*PAGINA SOBRE MÍ*/
@media (min-width: 1024px) {
  .sobre-mi-grid {
    padding-top: 60px;
    padding-bottom: 120px;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  }
  .col-sobremi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px 20px 0px 20px;
  }
  .sobremi-img {
    position: relative a;
  }
  .head-joffre {
    width: 100%;
    height: auto;
  }
  .head-bio {
    font-size: 52px;
    margin-bottom: 36px;
  }
  .texto-bio {
    font-size: 16px;
    line-height: 28px;
  }
  .bt-curr-texto {
    margin-top: 18px;
    text-decoration: none;
    font-size: 17px;
    color: #212529;
    text-decoration-line: underline;
  }
  .bt-curr-texto:hover {
    text-decoration: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sobre-mi-grid {
    padding-top: 30px;
    padding-bottom: 40px;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  }
  .col-sobremi {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px 20px 0px 20px;
  }
  .sobremi-bio {
    order: 2;
  }
  .sobremi-img {
    margin: auto;
  }
  .head-joffre {
    width: 90%;
    align-items: center;
    align-content: center;
    height: auto;
  }
  .head-bio {
    font-size: 44px;
    margin-bottom: 36px;
  }
  .texto-bio {
    font-size: 16px;
    line-height: 28px;
  }
  .bt-curr-texto {
    margin-top: 18px;
    text-decoration: none;
    font-size: 17px;
    color: #212529;
    text-decoration-line: underline;
  }
  .bt-curr-texto:hover {
    text-decoration: none;
  }
}
@media (max-width: 767px) {
  .sobre-mi-grid {
    padding-top: 20px;
    padding-bottom: 0px;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
  }
  .col-sobremi {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px 20px 0px 20px;
  }
  .sobremi-bio {
    order: 2;
  }
  .sobremi-img {
    margin: auto;
  }
  .head-joffre {
    width: 100%;
    height: auto;
  }
  .head-bio {
    font-size: 40px;
    margin-bottom: 36px;
  }
  .texto-bio {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
  }
  .bt-curr-texto {
    margin-top: 18px;
    text-decoration: none;
    font-size: 17px;
    color: #212529;
    text-decoration-line: underline;
  }
  .bt-curr-texto:hover {
    text-decoration: none;
  }
}
/*FIN PAGINA SOBRE MÍ*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*PAGINA CONTACTO*/
@media (min-width: 1024px) {
  .contacto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 180px;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  }
  .cont-texto {
    width: 80%;
    margin-left: 36px;
  }
  .cont-form {
    width: 90%;
  }
  #titulo-contacto {
    font-size: 40px;
    margin-bottom: 24px;
  }
  #subt-contacto {
    font-size: 20px;
  }
  .label-form {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .placetext {
    display: flex;
    font-size: 18px;
    width: 100%;
    border-width: 1px;
    border-color: #212529;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 22px;
  }
  .boton-envio {
    width: 100%;
    padding: 16px;
    margin-top: 24px;
    border-width: 1px;
    border-color: #212529;
    border-radius: 12px;
    background-color: #212529;
    color: #ffffff;
    font-size: 18px;
  }
  .boton-envio:hover {
    background-color: #525559;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contacto-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 100px;
    justify-items: center;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    gap: 48px;
  }
  .cont-texto {
    width: 80%;
  }
  .cont-form {
    width: 90%;
  }
  #titulo-contacto {
    font-size: 40px;
    margin-bottom: 24px;
    text-align: center;
  }
  #subt-contacto {
    font-size: 20px;
    text-align: center;
  }
  .label-form {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .placetext {
    display: flex;
    font-size: 18px;
    width: 100%;
    border-width: 1px;
    border-color: #212529;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 22px;
  }
  .boton-envio {
    width: 100%;
    padding: 16px;
    margin-top: 24px;
    border-width: 1px;
    border-color: #212529;
    border-radius: 12px;
    background-color: #212529;
    color: #ffffff;
    font-size: 18px;
  }
  .boton-envio:hover {
    background-color: #525559;
  }
}
@media (max-width: 767px) {
  .contacto-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 100px;
    justify-items: center;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    gap: 48px;
  }
  .cont-texto {
    width: 80%;
  }
  .cont-form {
    width: 90%;
  }
  #titulo-contacto {
    font-size: 36px;
    margin-bottom: 24px;
    text-align: center;
  }
  #subt-contacto {
    font-size: 18px;
    text-align: center;
  }
  .label-form {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .placetext {
    display: flex;
    font-size: 16px;
    width: 100%;
    border-width: 1px;
    border-color: #212529;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 22px;
  }
  .boton-envio {
    width: 100%;
    padding: 16px;
    margin-top: 24px;
    border-width: 1px;
    border-color: #212529;
    border-radius: 12px;
    background-color: #212529;
    color: #ffffff;
    font-size: 18px;
  }
  .boton-envio:hover {
    background-color: #525559;
  }
}
/*FIN PAGINA CONTACTO*/
/*-----------------------------------------------------------------*/

/*# sourceMappingURL=estilos.css.map */
