.contacto-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 240px;
    padding-right: 240px;
}

.cont-texto{

}

.cont-form{

}

.label-form{
    display: block;
}