/*Variables*/
$color-primario: #00A7E1;
$color-secundario: #003459;
$borde-inferior: 1px solid black;
/*Fin-Variables*/

.head{
    color: $color-primario;
    background-color: $color-secundario;
    text-align: center;
}

/*CSS General*/
*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Font-Principal' ;
    src: url(../assets/fuentes/DMSans-Regular.ttf);
}

.body-jof{
    font-family: 'Font-Principal' ;
    src: url(../assets/fuentes/DMSans-Regular.ttf);
}

h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

/*Fin CSS General*/

/*-----------------------------------------------------------------*/
/*PAGINA INICIO*/

@import "estilos-home";

/*FIN PAGINA INICIO*/
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*PAGINA SERVICIOS*/



/*FIN PAGINA SERVICIOS*/
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*PAGINA PORTAFOLIO*/



/*FIN PAGINA PORTAFOLIO*/
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*PAGINA SOBRE MÍ*/



/*FIN PAGINA SOBRE MÍ*/
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*PAGINA CONTACTO*/

@import "estilos-contacto";

/*FIN PAGINA CONTACTO*/
/*-----------------------------------------------------------------*/



/* Página Sobre Mi */

/* .head-joffre{
    height: 300px;
} */

/* Fin Página Sobre Mi */